# npm config set always-auth true

# //gitlabsrv.xoriant.com/api/v4/projects/14/packages/npm/:_authToken=Z_XPitDQL2fci3NGV5Ec
//gitlabsrv.xoriant.com/api/v4/packages/npm/:_authToken=Z_XPitDQL2fci3NGV5Ec
@atg:registry=http://gitlabsrv.xoriant.com/api/v4/packages/npm/

# //gitlab.com/api/v4/packages/npm/:_authToken=glpat-Erot8hV_hhjuWS9Ak-XW
#  @style-lib:registry=https://gitlab.com/api/v4/packages/npm/ 